@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-3">
        <a href="https://github.com/mariobot" target="_blank">About</a>
    </div>

    <div class="content px-5">
        @Body
    </div>
</div>