@page "/customers"

@using Clients.Blazor.Models;

@using System.Net.Http.Json
@inject HttpClient Http

<h3>Clients</h3>

<CustomerCrud client="@customer" OnValidSubmit="CreateClient"></CustomerCrud>

@if (clientlist != null)
{
    <table class="table table-info">
        <tr>
            <td>Edit</td>
            <td>Delete</td>
            <td>Id</td>
            <td>Name</td>
        </tr>
        @foreach (var c in clientlist.Items)
        {
            <tr>
                <td>
                    <a class="btn btn-success" href="/editcustomer/@c.ClientId"> Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="/editcustomer/@c.ClientId"> Delete</a>
                </td>
                <td>@c.ClientId</td>
                <td>@c.Name</td>
            </tr>
        }
    </table>
}
else
{
    <h3>Loading</h3>
}

@code {

    private DataCollection<ClientDto> clientlist;

    private ClientDto customer = new ClientDto();

    protected override async Task OnInitializedAsync()
    {
        clientlist = await this.Http.GetFromJsonAsync<DataCollection<ClientDto>>("clients?take=100&page=1");
    }

    private async Task CreateClient()
    {
        await this.Http.PostAsJsonAsync<ClientDto>("clients", customer);
        clientlist = await this.Http.GetFromJsonAsync<DataCollection<ClientDto>>("clients?take=150&page=1");        
    }
}
